<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
<h2>Log In</h2>
{{msg}}
<form method="post">
{% csrf_token %}
{{ form.as_p }}

<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6LewPuMZAAAAAKyfmtY8kWsHZYcG4n6kTfhJHZ7D"></div>

<button type="submit" class="btn btn-success ml-2">Log In</button>

</form>

<a href="{% url 'password_reset' %}">Password Reset Link</a>
{% endblock content %}
