<div class="container">
    <h2> ETD Search</h2>
    <form id="labnol" method="post" >
       {%csrf_token%}
       <!-- {{form.as_p}} -->
       <div class="fieldWrapper" style=" width: 700px;" >
          {{ form.searchtext.errors }}     
          {{ form.searchtext.label_tag }}
       </div>
       <div class="row">
          <div class="fieldWrapper col-md-8" style=" width: 700px;" >
             {{ form.searchtext }}

          </div>
          <div class="col-md-4">             
            <i onclick="startDictation()"  class="fa fa-microphone" style="font-size:24px"></i>
            &nbsp;
             <button class="btn btn-success col-md-3" type="submit">Search</button>
             &nbsp;

             {% if user.is_authenticated %}
             <a href="{% url 'upload' %}">Upload</a> 
             {%endif%}

             
          </div>
        
       </div>
       <div id="advancedSearch" style=" width: 700px; text-align: center;" hidden>
          <div class="fieldWrapper" style="text-align: left;">
            <br>
             {{ form.contributor_department.errors }}
             {{ form.contributor_department.label_tag }}
             {{ form.contributor_department }}
          </div>
          <div class="fieldWrapper" style="text-align: left;">
            <br>
             {{ form.contributor_author.errors }}
             {{ form.contributor_author.label_tag }}
             {{ form.contributor_author }}
          </div>
          <div class="fieldWrapper" style="text-align: left;">
            <br>
             {{ form.contributor_committeechair.errors }}
             {{ form.contributor_committeechair.label_tag }}
             {{ form.contributor_committeechair }}
          </div>
          <div class="fieldWrapper" style="text-align: left;">
            <br>
             {{ form.description_degree.errors }}
             {{ form.description_degree.label_tag }}
             {{ form.description_degree }}
          </div>
          <div class="fieldWrapper" style="text-align: left;">
            <br>
             Dates between:
             {{ form.date1.errors }}
             {{ form.date1.label_tag }}
             {{ form.date1 }}
             {{ form.date2.errors }}
             {{ form.date2.label_tag }}
             {{ form.date2 }}
             <br>
          </div>
       </div>
    </form>
    <button type="btn btn-information" name="button" onclick="document.getElementById('advancedSearch').removeAttribute('hidden')
       "style="border:none;color: blue;background-color: white;font-size: 14px; margin: 0; height:20px;">Advanced Search</button>
    

             <!-- HTML5 Speech Recognition API -->
             <script>
               function startDictation() {
   
                  if (window.hasOwnProperty('webkitSpeechRecognition')) {
   
                     var recognition = new webkitSpeechRecognition();
   
                     recognition.continuous = false;
                     recognition.interimResults = false;
   
                     recognition.lang = "en-US";
                     recognition.start();
   
                     recognition.onresult = function(e) {
                        document.getElementById('id_searchtext').value
                                                = e.results[0][0].transcript;
                        recognition.stop();
                        document.getElementById('labnol').submit();
                     };
   
                     recognition.onerror = function(e) {
                        recognition.stop();
                     }
   
                  }
                  }
               </script>
   
   
 </div>