<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
  <h3>Search History page </h3>
  <br>

  <form action="/searchhistory/" method="POST" style="display: inline-block;">
    {%csrf_token%}
      <button class="btn btn-success ml-2" type="submit" name="searchid" value=-1 style="display: inline-block;margin: 0;">Clear history</button>     
  </form>
  <br>

  {% for searchhistory in searchhistoryquery%}

    <form action="/searchhistory/" method="POST" style="display: inline-block;" target="_blank">
      {%csrf_token%}
        <button type="submit" name="searchid" value={{searchhistory.id}} style="border:none;color: blue;" >
          {{searchhistory.searchtext}}, {{searchhistory.date}}</button>
    </form>
    <br>

  {% endfor %}

{% endblock content %}
