<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Search History{% endblock title %}

{% block content %}
  <h3>Search History page </h3>
  <br>

  <form action="/clearhistory/" method="POST" style="display: inline-block;">
    {%csrf_token%}
      <button class="btn btn-danger ml-2" type="submit" name="searchid" value=-1 style="display: inline-block;margin: 0;">Clear history</button>     
  </form>
  <br>

  {% include "pagination.html" %}

  {% for searchhistory in output%}

    <form action="/searchhistory/" method="POST" style="display: inline-block;" target="_blank">
      {%csrf_token%}
        <button type="submit" name="searchid" value={{searchhistory.id}} style="border:none;color: blue;" >
          {{searchhistory.searchtext}}

           {% if searchhistory.contributor_department != "" %}
           , Department: {{searchhistory.contributor_department}}
           {% endif %}

           {% if searchhistory.contributor_author != "" %}
           , Author: {{searchhistory.contributor_author}}
           {% endif %}

           {% if searchhistory.contributor_committeechair != "" %}
           , Chair: {{searchhistory.contributor_committeechair}}
           {% endif %}

           {% if searchhistory.description_degree != "" %}
           , Degree: {{searchhistory.description_degree}}
           {% endif %}

           between {{searchhistory.date1}} and {{searchhistory.date2}} on
           {{searchhistory.date}}</button>
    </form>

    <form action="/clearhistory/" method="POST" style="display: inline-block;">
      {%csrf_token%}
        <button class="btn btn-danger btn-sm" type="submit" name="searchid" value={{searchhistory.id}} style="display: inline-block;margin: 0;">Remove</button>     
    </form>
    <br>

    <br>

  {% endfor %}

{% endblock content %}
