<!-- templates/home.html -->
{% extends 'base.html' %}
{% load highlight_search %}

{% block title %}SERP{% endblock title %}

{% block content %}

{% include "advancesearch.html" %}

{% if msg%}
  <p> Found about {{numresults}} results for <b>{{totsearchtext}}</b></p>

  {% include "pagination.html" %}
 
  {% for item in output %}
    <div class="row">
      <div class="column" style="background-color:#eee;">

        <a href={{item.identifier_sourceurl}}><b>{{item.title|highlight_search:searchtext}}</b></a>
        <brsmall>
        {{item.contributor_author}},
        {{item.date_issued}},
        {{item.contributor_department}},
        {{item.description_degree}}

        <brsmall>
        <b>Abstract</b>: {{item.description_abstract|slice:":210"|highlight_search:searchtext}}...
        <!-- <b>Abstract</b>: {{item.description_abstract|slice:":210"}}... -->
        <form action="/serpdetails/" method="POST" style="display: inline-block;" target="_blank">
          {%csrf_token%}
            <button type="submit" name="handle" value={{item.handle}} style="border:none;color: blue;" >More details</button>
        </form>

        <br>

        {% if user.is_authenticated %}
          <form action="/saveitem/" method="POST" style="display: inline-block;" target="_blank">
            {%csrf_token%}
              <button class="btn btn-success btn-sm" type="submit" name="handle" value={{item.handle}} style="border:none;color: bwhite;" >Save</button>
          </form>
        {% endif %}

      </div>
    </div>
    <brsmall>
  {%endfor%}

  {% include "pagination.html" %}
 
{%else%}
  <p> Searching for <b>{{totsearchtext}}</b></p>

  <h5>{{output.0}}</h5>
{% endif %}




{% endblock content %}
